@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


h3 {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  left: -0.5%;
  font-size: 22px;
  font-weight: 100;
  color: rgb(255, 253, 253);
  font-family: 'Varela Round', sans-serif;
  transform: rotate(-90deg);
  opacity: 1;
}

.section.s1 h3::after {
  position: absolute;
  content: '';
  height: 1px;
  width: 100px;
  background-color: white;
  transform: translateX(100%);
}

.section.s1 h3::before {
  position: absolute;
  content: '';
  height: 1px;
  width: 100px;
  background-color: white;
  transform: translateX(-100%);
}

.bg-wp {
  position: fixed;
  right: 0;
  height: 100vh;
  width: 66vw;
  bottom: 0;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(0);
  transform-origin: bottom;
  opacity: 0;
}

.section.s1.active .bg-wp {
  animation: reveal 1s ease-out 1 forwards;
}

@keyframes reveal {
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.bg-wp img {
  position: absolute;
  height: 100%;
  width: 148%;
  right: 0%;
  filter: saturate(1.8);
}

.section.s1 .text-container {
  position: absolute;
  left: 10%;
  top: 20%;
  max-width: 40%;
}

.section.s1 .text-container h1 {
  color: rgb(229, 241, 119);
  font-size: 72px;
  line-height: 90px;
  font-family: 'Roboto', sans-serif;
  transform: translateY(100%);
  opacity: 0;
}

.section.s1.active .text-container h1 {
  animation: show 0.9s ease-out 1s 1 forwards;
}

.section.s1 .text-container h2 {
  position: relative;
  color: rgb(0, 255, 255);
  text-transform: uppercase;
  font-size: 95px;
  line-height: 80px;
  font-family: 'Varela Round', sans-serif;
  font-weight: 900;
  transform: translateY(100%);
  opacity: 0;
}

.section.s1.active .text-container h2 {
  animation: show 0.5s ease-out 1.3s 1 forwards;
}

.section.s1 .text-container span {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  margin: 10px 0 0;
  color: white;
  font-size: 17px;
  letter-spacing: 1px;
  line-height: 20px;
  max-width: 70%;
  font-family: 'Roboto', sans-serif;
}

.section.s1 .text-container span p {
  transform: translateX(200%);
  opacity: 0;
}

.section.s1.active .text-container span p {
  animation: show 1s ease-out 2s forwards;
  animation-delay: calc(var(--i) * 15ms);
}

.section.s1 .text-container .explore-btn {
  position: relative;
  height: 65px;
  width: 200px;
  border: 2px solid rgb(240, 152, 152);
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  margin: 60px 0 0;
  text-transform: capitalize;
  font-size: 20px;
  cursor: pointer;
  color: rgb(226, 247, 109);
  font-weight: 900;
  transform: translateY(100%);
  opacity: 0;
}

.section.s1.active .text-container .explore-btn {
  animation: show 1.3s ease 1.5s forwards;
}

.section.s1 .socials {
  position: fixed;
  bottom: 6%;
  right: 2%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 10;
  transform: translate(150%);
  opacity: 0;
}

.section.s1.active .socials {
  animation: show 0.3s ease-out 2s forwards;
}

.section.s1 .socials::before {
  position: absolute;
  content: '';
  height: 100px;
  width: 2px;
  background-color: rgb(255, 255, 255);
  transform: translateY(-130%);
}

.section.s1 .socials .icon {
  position: relative;
  margin: 13px 0;
  fill: rgb(0, 255, 179);
  transform: scale(1.4);
  cursor: pointer;
}

@media screen {
    
}