/*
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Kanit:wght@200&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    scroll-snap-type: y mandatory;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(150deg, rgb(20,70,105), rgb(1,16,19));
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 0;
}

html {
    scroll-behavior: smooth;
}

.open-menu {
    position: fixed;
    height: 65px;
    width: 65px;
    background-color: rgba(8, 194, 194, 0.938);
    top: 3%;
    right: 3%;
    border-radius: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 12;
    cursor: pointer;
    transform: translateX(50px);
    opacity: 0;
    animation: show 1s ease 1.5s forwards;
}

@keyframes show {
    to{
        transform: translate(0);
        opacity: 1;
     }
}

.open-menu #m {
    position: absolute;
    transition: .3s ease;
}

.open-menu .open.active{
    transform: rotate(360deg);
    opacity: 0;
}

.open-menu .open{
    transform:scale(2);
}

.open-menu .close {
    transform: rotate(180deg);
opacity: 0;
}

.open-menu .close.active{
    transform: rotate(0);
    opacity: 1;
}

.menu {
    position: fixed;
    top: 3%;
    right: calc(3% + 65px + 3%);
    overflow: hidden;
    z-index: 12;
    opacity: 0;
    pointer-events: none;
    user-select: none;
    transition: 0.3s ease;
}

.menu.active {
    opacity: 1;
    pointer-events: all;
}

.menu.active ul a{
    transform: translateX(0);
    opacity: 1;
}

.menu ul {
    position: relative;
    display: flex;
    list-style: none;
    background-color: rgba(255, 255, 255, 0.623);
    backdrop-filter: blur(50px);
    height: 55px;
    border-radius: 25px;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.menu ul a {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin: 0 12px;
    padding: 6px o;
    text-transform: capitalize;
    cursor: pointer;
    color: rgb(2,24,24);
    transform: translareX(100%);
    opacity: 0;
    transition: 1s ease, color .2s ease-in-out;
}

.menu ul a::after {
    position: absolute;
    content: '';
    aspect-ratio: 1/1;
    height: 6px;
    border-radius: 50%;
    background-color: rgb(21,131,133);
    top: 0;
    transform: translateY(-400%);
    transition: 0.2s ease-out;
 }

 .menu ul a.active {
    color: rgb(4, 82, 75);
 }

 .menu ul a.active::after {
    transform: translateY(0);
 }

 .section {
    position: relative;
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    scroll-snap-align: start;
 }
 */

 @import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  scroll-snap-type: y mandatory;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(150deg, rgb(20, 70, 105), rgb(1, 16, 19));
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 0;
}

html {
  scroll-behavior: smooth;
}

.open-menu {
  position: fixed;
  height: 65px;
  width: 65px;
  background-color: rgba(8, 194, 194, 0.938);
  top: 3%;
  right: 3%;
  border-radius: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 12;
  cursor: pointer;
  transform: translateX(50px);
  opacity: 0;
  animation: show 1s ease 1.5s 1 forwards;
}

@keyframes show {
  to {
    transform: translate(0);
    opacity: 1;
  }
}

.open-menu #m {
  position: absolute;
  transition: 0.3s ease;
}

.open-menu .open.active {
  transform: rotate(360deg);
  opacity: 0;
}

.open-menu .open {
  transform: scale(2);
}

.open-menu .close {
  transform: rotate(180deg);
  opacity: 0;
}

.open-menu .close.active {
  transform: rotate(0);
  opacity: 1;
}

.menu {
  position: fixed;
  top: 3%;
  right: calc(3% + 65px + 3%);
  overflow: hidden;
  z-index: 12;
  opacity: 0;
  pointer-events: none;
  user-select: none;
  transition: 0.3s ease;
}

.menu.active {
  opacity: 1;
  pointer-events: all;
}

.menu.active ul a{
  transform: translateX(0);
  opacity: 1;
}

.menu ul {
  position: relative;
  display: flex;
  list-style: none;
  background-color: rgba(255, 255, 255, 0.623);
  backdrop-filter: blur(50px);
  height: 65px;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  padding: 25px;
}

.menu ul a {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  margin: 0 12px;
  padding: 6px 0;
  text-transform: capitalize;
  cursor: pointer;
  color: rgb(2, 24, 24);
  transform: translateX(100%);
  opacity: 0;
  transition: 1s ease, color 0.2s ease-out;
}

.menu ul a::after {
  position: absolute;
  content: '';
  aspect-ratio: 1/1;
  height: 7px;
  border-radius: 50%;
  background-color: rgb(21, 131, 133);
  top: 0;
  transform: translateY(-400%);
  transition: 0.2s ease-out;
}

.menu ul a.active{
  color: rgb(4, 82, 75);
}

.menu ul a.active::after{
  transform: translateY(0);
}

.section{
  position: relative;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-snap-align: start;
}